.project/*
.settings/*
bootstrap.css
bootstrap.js
build/*
classic.json
classic.jsonp
modern.json
modern.jsonp
sass/example/*

#archivos del proyecto iceMVC
decorators/*
WEB-INF/*
404.jsp
error.jsp
index.jsp
taglibs.jsp
